div {
  word-wrap: break-word;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.chat-list {
/* chat list */

position: absolute;
left: 0%;
right: 70%;
top: 0%;
bottom: 0%;

background: #10002B;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}





/* chat list header */
.chat-list-header {
  position: absolute;
  height: 74px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #CFA8FF;
}
/* search box */
.search-box {
position: absolute;
height: 49.22px;
left: 3.49%;
right: 5.02%;
top: 9.84px;

background: #E2D8E7;
border-radius: 25px;
}
/* search icon */
.search-icon {
  border: none;
  text-decoration: none;
  background-color: #E2D8E7;
  position: absolute;
  width: 24.05px;
  height: 24.61px;
  right: 18px;
  margin-top: 2%;
  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 34px;

  color: #CFA8FF;
}

.thumbnail-list {
  position: absolute;
  top:  72px;
  left: 0%;
  right: 0%;
  color: white;

}
/* .chat-thumbnail {
  width: 100%;
  height: 87.19px;
  left: 0%;
  right: 0%;
  border: 1px solid #000000;
  box-sizing: border-box;
  border: 1.5px solid #E5E5E5;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
} */
.chat-thumbnail {
  height: 87px;
  width: 100%;
  border-bottom: 1.5px solid #E5E5E5;
  box-sizing: border-box;
}


.chat-thumbnail:hover {
  background: #3C096C;
}
/* user profile */
.chat-list-profile {
  position: absolute;
  width: 70px;
  height: 70px;
  /* left: calc(50% - 70px/2 - 122.62px); */
  margin-top: 2%;
  left: 2%;
  border-radius: 50%;
  background: #C4C4C4;
}

/* User name */
.chat-list-username {

  position: absolute;
  left: 10%;
  right: 5%;
  margin-top: 5%;
  margin-bottom: 5%;  
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  
  color: #FFFFFF;

}
/*  -----------------------------------------------*/
.chat-room {

  position: absolute;
  left: 30%;
  right: 30%;
  top: 0%;
  bottom: 0%;
  background: #EDCCFE;
}

/* .other-msg{
  left: 2.74%;
  right: 30.26%;
  top: 50%;
  bottom: 35.19%; 
  height: 20px;
  background: #7B2CBF;
  border-radius: 25px;
} */
/* message sent by other users */
.other-msg {
  right: 29.74%;
  left: 3.25%;
  /*top: 70.31%;
  bottom: 14.87%; */
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20%;
  min-height: 50px;
  background: #7B2CBF;
  border-radius: 20px;
}
/* my msg */
.my-msg {
  left: 29.74%;
  right: 3.25%;
  /*top: 70.31%;
  bottom: 14.87%; */
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 20%;
  min-height: 50px;
  background: #C77DFF;
  border-radius: 20px;
}

/* chat room header */
.chat-room-header{
  position: absolute;
  height: 114.51px;
  left: 0%;
  right: 0%;
  top: 0px;

  background: #F8E4FF;
}

/*  chat room profile */
.chat-room-profile {
  position: absolute;
  width: 90px;
  height: 90px;
  left: 14.77px;
  top: 14px;
  border-radius: 50%;
  background: #C4C4C4;
}

/* User name */
.chat-room-username {
  position: absolute;
  width: 205.08px;
  height: 38.43px;
  left: 138.27px;
  top: 40.78px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}

/* chat box */
.chat-box {
  position: absolute;
  height: 74.53px;
  left: 0%;
  right: 0%;
  bottom: 0px;

  background: #F8E4FF;
}

/* send */
.send-button {

position: absolute;
height: 42.89px;
left: 85.95%;
right: 3.27%;
top: calc(50% - 42.89px/2 - 0.35px);

background: #C597FF;
border-radius: 25px;
font-family: Font Awesome 5 Free;
font-style: normal;
font-weight: 900;
font-size: 20px;
line-height:  42.89px;

color: #F8E4FF;
}


/* send icon */
.send-icon {
  position: absolute;
  height: 22.5px;
  left: 88.56%;
  right: 6.86%;
  top: calc(50% - 22.5px/2 - 4.48px);

  font-family: Font Awesome 5 Free;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height:  42.89px;

  color: #F8E4FF;

}

.msg-box {
    
  position: absolute;
  height: 533px;
  left: 0%;
  right: 0%;
  top: 115px;
  /*top: calc(50% - 533px/2); */
}
.send-text-box {
  position: absolute;
  height: 43px;
  left: 2.35%;
  right: 15.49%;
  bottom: 15px;

  background: #E2D8E7;
  border-radius: 25px;
}



/* -------------------------------------------------*/
.profile {
  position: absolute;
  left: 70%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  
  background: #E4B6FF;
}

/* profile header */
.profile-header {
  position: absolute;
  height: 196px;
  left: -0.03%;
  right: -0.72%;
  top: 0px;

  background: #CFA8FF;
}

/* Big profile picture */
.big-profile-picture {
  position: absolute;
  width: 175px;
  height: 175px;
  left: calc(50% - 175px/2 + 2.4px);
  top: 109px;
  border-radius: 50%;
  background: #C4C4C4;
}

/* Name */
.profile-name {
  position: absolute;
  width: 218px;
  height: 38px;
  left: calc(50% - 218px/2 + 2.9px);
  top: 322px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 35px;
  text-align: center;

  color: #050505;
}

/* delete button */
.delete-button {
  position: absolute;
  height: 66.98px;
  left: 8.7%;
  right: 7%;
  bottom: 26.02px;

  background: #10002B;
  border-radius: 25px;

  color: white;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  text-align: center;
  line-height: 35px;
  text-align: center;
  line-height: 66.98px;
  ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
